body{
    background-color: #e5c185;
        color: #2c6e49;
    text-align: center;
}

.links{
   padding: 20px;
   font-weight: bold;
   text-align: center;

}

a{
    text-decoration: underline;
    color: #fbf2c4;}
